﻿@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
@import url(AtFontFace.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
	font-family: IRANSans !important;
	font-weight: 300;
	direction: rtl;
	background-color: #E2E2E2;
	margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANSans !important;
}

h1 {
	font-weight: bold;
}
.wrapper {
	max-width: 900px;
	margin: 0 auto;
}
.ltr {
	direction: ltr;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-small {
	font-size: 0.8em;
}
.text-xsmall {
	font-size: 0.6em;
}
.text-large {
	font-size: 1.2em;
}
.text-xlarge {
	font-size: 1.4em;
}
.text-underline {
	text-decoration:underline;
}
.text-ultralight {
	font-weight: 200;
}
.text-light {
	font-weight: 300;
}
.text-regular {
	font-weight: normal;
}
.text-medium {
	font-weight: 500;
}
.text-bold {
	font-weight: bold;
}
.text-black {
	font-weight: 900;
}
blockquote {
	font-weight: 500;
	padding: 10px;
	border: 1px dashed #666666;
}

.mainbox {
	width: 100%;
	background-color: #EFEFEF;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #FFFF33;
}

.mainboxnegativ {
	width: 100%;
	background-color: #000000;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #FFFF33;
	color: #F9F9F9;
}

.mainbox2 {
	font-size: 1em;
	width: 90%;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mainbox3 {
	width: 100%;
	background-color: #b8b8b8;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #bd70ff;
}

.mainbox2negativ {
	font-size: 1em;
	color: #F9F9F9;
	background-color: #000000;
	padding-right: 20px;
}

.farsiparagraph {
	font-size: 1em;
	width: 47%;
	float:right;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

}
.englishparagraph {
	font-size: 1em;
	width: 47%;
	float: left;
	direction:ltr;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;


}
.rightbox {
	width: 60%;
	padding-right: 20px;
	padding-left: 5px;
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
	min-width: 0px;
	background-color: #F7F7F7;

}

.titelbox {
	width: 60%;
	padding-right: 25px;
	padding-left: 0px;
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
	min-width: 0px;
	background-color: #F2F2F2;
	color: #4B4B4B;
}


.lefttbox {
	
	padding-right: 20px;
	padding-left: 4px;
	float: right;
	margin-bottom: 10px;
	min-width: 0px;
}

.alphabet {
	width: 35%;
	float: left;
	font-size: 21em;
	text-align: center;
	font-weight: 500;
	color: #999999;
}

.alphabet2 {
	width: 35%;
	float: left;
	direction: ltr;
	font-size: 1.6em;
	text-align: left;
	font-weight: 500;
	color: #333333;
	margin-top: 100px;
}
.footer {
	font-weight: 300;
	font-size: 0.7em;
	text-align: center;
	direction: ltr;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
/* ADD ANOTHER CLASS */
html,
body{
	height: 100%;
}

body{
    direction: rtl;
    text-align: right;
    margin: 0;
	padding: 0; 
	background-color: white;
	background-image: url("../img/backgrounf.png");
}

a,a:hover,a:active{
    text-decoration: none;
    list-style: none;
    color: white;
}

.container-fluidsss{
padding:0 90px  !important;
}

.collapse{
    direction: ltr;
}
.navbarssss{
    padding: 0 !important;
}
.header{
    background-color: rgba(255, 255, 255, 1);
	background-image: url("../img/grid-dark.png");
	
}
.branding{
    text-align: right;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 0px;
}
.icon-home svg{
    direction: rtl;
    width: 25px;
    height: auto;
    text-align: right;
    background-color: rgb(196, 255, 216);
}
li{
    text-decoration: none;
}
.navigation{
	font-size: 15px;
	padding-right: 40px;
	padding-bottom: 0px;
}
.menu-bar{
    background-color: #961e70;
    padding: 45px;
    color: white;
    font-size: 18px;
}


.left-text{
    float: left;
    font-size: 13px;
}


.footer-area  .brand-footer img{
    padding-left:35%;
    padding-right:35%;
    padding-bottom:  0px;
    width: 100%;
    margin-bottom: 0px;
}
.textwidget img{
	padding-left:33%;
    padding-right:33%;
}
footer {
   height: 50px;
   margin-top: -50px;
   padding-top: 25px;
   left: 0;
   bottom: 0;
   width: 100%;
    background-color:#58595b !important;
    height: auto !important;
   color: white;
}

.empty{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
}

.navbar-color{
	background-color: #961e70 ;
	height: 35px;
}

.navbar-color .text{
    font-size: 15px;
	color: rgb(255, 255, 255) !important;
	display: inline-flex;
}
.text .fas{
font-size: 35px;
}

.text span{
	padding-right: 7px;	
	padding-top: 5px;
}

.brand-list{
	display: flex;
	justify-items: auto;
}

.brand-list img{
	height: 100%;
}

.brand-Icon{
	padding-left: 25px;
	height: 90PX;
}

.links{
    background-color: #b2d235;
    margin: 1px; 
    font-size: 13px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}

.links a{
    display: inline-block;
    padding-top: 6px;
}

ul{
    list-style: none;
}

.home i,.home span{
    color: black ;
}

.address ul{
    padding-inline-start: 10px !important;
}
.navbar-nav-bottom{
    display: flex;
}
.set-dir-ltr{
    direction: rtl;
}
p{
	line-height: 250%;
	
	text-justify: inter-word;
}

.b{
    font-weight: bold;
}

.end-line{
    height: 55px;
    margin-right: 35px;
    padding-bottom: 10px;
    display: flex;
}
.end-line p{

    margin: auto 0;
}

.branding-bottom{
    padding: 0 10px;
    margin: auto 0;
}
.user-form{
	background-color: rgb(216, 216, 216);
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 55px;
	/* align-items: center; */
	padding-top: 75px;
	border-radius: 10px;
}
	
.form-group{
	height: 75px;
}
input{
	max-height: 100%;
}

.item-form{
	font-size: 1.3rem;
}

.buttom-form{
	padding-right: 25px;
	padding-left: 25px;
	text-justify: inter-word;

}
.text-form{
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
	font-weight:500;
}
.text-form p{
	line-height: 175%;
}
.set-dir{
	margin-top: 45px !important;
	margin-bottom: 0px !important;
}
.letter{
	background-color: rgb(216, 214, 214);
	margin: 0 auto;
	padding: 55px;
	border-radius: 15px;
	margin-top: 25px;
	margin-bottom: 145px;
	padding-bottom:75px;
}

.letter img{
   width: 100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:link,
.btn-primary::selection,
.btn-primary:active{
	background-color:#961e70 !important;
	border-color:#961e70 !important;
}
.btn-letter{
	font-size:20px;
	font-weight: 400;
	margin-top: 65px;
}
.btn-letter .btn{  
	  padding: .575rem 2.5rem;
}



.realative-position{
position: relative;
}

.address{
    font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
        
#wrap {
    min-height: 80%;
}
#error{
	background-color:#fb5252;
	border-radius: 5px;
	margin-bottom: 30px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-weight:500;
}

input{
	width: 75% !important;
	margin: 0 auto;
}

.name-user{
	background-color: #961e70;
	color: white;
	padding-right: 45px;
}

.sign1{
	position: absolute;
	width: 40%;
	height: auto;
	left:  15%;
	bottom: 10%;
}

.image-letter{
	width: 100% !important;
}
.letter-area{
	width: 100% !important;
	height: auto;  
}
.image-class{
	width: 100%;
	height: auto;  
}

.parent-letter{
	margin: 0 auto;
	padding: 55px;
	padding-bottom:10px; 
	border-radius: 15px;
	background-color:rgb(216, 216, 216);
}
.btn-letter{
	margin-bottom: 50px;
	padding-right: 25px;
	padding-left: 25px;
}
.letter-part{
	margin-bottom: 100px;
}

.endP{
	text-justify: inter-word;
}


.data{
    text-align: center !important;   
    float: left;
	padding-left: 15px;
}    
.data p{
    line-height: 100% !important; 
}

.name{
    text-align: center;
    padding-top: 100px;
}

.im{
position: relative;
top: -20px;
}

.im img{
    position: absolute;
    left: 0;
	opacity: .6;
}

.card-body h6{
    line-height: 1.5 !important;
}
.card-body p{
	margin-top: 0;
	margin-bottom: 0;
}

.card-header{
padding: .75rem 3.25rem;
border-bottom:none;
background-color:rgb(255, 255, 255);
}

.card-body{
    padding: .75rem 3.25rem;
    border-bottom:none;
    min-height:450px;
	text-align: justify;	
}

.card p,
.card h6{
	font-family: BNazanin,'BNazanin',tahoma !important;
	font-weight: 500 !important;
}
.distance{
	color: rgba(255, 255, 255, 0);
}
.card-footer{
    padding: .75rem 3.25rem;
    border-top:none;   
background-color:rgb(255, 255, 255);
     padding-top: 25px;
    height: 200px;
}
.card{
    max-width: 595px ;
    margin: 0 auto;
}
.leeee{
    margin-bottom: 85px;
}
.end-message{
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 85px;
    background-color: #d1d2d4;
	    color: black;
    border-radius: 5px;
    padding: 15px;
    border: rgb(112, 112, 112) solid 1px;
}
.text-list{
	color: #a5247a;
	margin-top: auto;  
	  font-size: 45px;
	  padding-right: 35px;
	margin-bottom: auto;   
	 font-weight: 600;
	 text-align: center;
}
.logo-paraf{
	height: 25px;
	width: auto;
}
@media  (max-width: 1400px){
	.footer-area  .brand-footer img{
		padding-left: 25%;
		padding-right: 25%;
		display: block;
		justify-content: center;
		margin: 0 auto;
	}
		
	.textwidget img{
		padding-left:25%;
		padding-right:25%;
	}
	body{
		/* background-color: #000102; */
	}

}

@media  (max-width: 1140px){
	body{
		background-color: #35a6d2;
	}
    .user-form{
        padding: 10px;
	}
	
	.textwidget img{
		padding-left:20%;
		padding-right:20%;
	}
	.footer-area  .brand-footer img{
		padding-left: 20%;
		padding-right: 20%;
		margin: auto 0;
	}
}

@media  (max-width: 1000px){
	body{
		/* background-color: #9dd600; */
	}
    .user-form{
        padding: 10px;
	}
	
	.footer-area  .brand-footer img{
		padding-left: 25%;
		padding-right: 25%;
		margin: auto 0;
	}
	.textwidget img{
		padding-left:25%;
		padding-right:25%;
	}
}

@media  (max-width: 960px){
	body{
		/* background-color: #00462e; */
	}
	.brand-list{
        display: flex ;
        flex-wrap: wrap ;
	}
	
    .text-list{
        padding-top: 25px;
    }
    .user-form{
        padding: 10px;
    }
	.brand-Icon{
		position: relative;
		width: 30%;
		padding-right: 15px;
	}
	.footer-area  .brand-footer img{
		padding-left: 25%;
		padding-right: 25%;
		margin: auto 0;
	}
	.textwidget img{
		padding-left:25%;
		padding-right:25%;
	}
}

@media  (max-width: 768px){
	body{
		/* background-color: #000000; */
	}
	
	.item-form{
		font-size: 1rem;
	}
	.text-list{
		font-size: 20px;
		width: 100%;
		text-align: center;
		padding-right: 0px;
	}
	.user-form{
        padding: 10px;
    }
	.brand-Icon{
		padding-left: 5px;
		height: 60PX;
	}
	.footer-area  .brand-footer{
		margin: auto 0;
	}
	.footer-area  .brand-footer img{
		display: block;
		justify-content: center;
		padding-left: 30%;
		padding-right: 30%;
    	width: 100%;
	}
	.textwidget img{
		padding-left:30%;
		padding-right:30%;
	}
	ul{
		padding-right: 0px;
	}
}

@media  (max-width: 576px){
	body{
		/* background-color: #b2d235; */
	}
	.item-form{
		font-size: .9rem;
	}
	.text-list{
		width: 100%;
		text-align: center;
		padding-right: 0px;
		font-size: 20px;
    }
	ul{
		padding-right: 0px;
	}
	.text{
		font-size: 5px;
	}
	.user-form{
        padding: 10px;
	}
	.branding{
		padding-right: 0px;
	}
	.container-fluidsss{
		padding:0 5px  !important;
	}
	.end-line{
		height: 55px;
		margin-right: 0;
		padding-bottom: 10px;
		display: flex;
	}
	.end-line p{
		font-size: 11PX;
		margin: auto 0;
	}
    .navbar-color{
        height: 85px;
    }
    .navbar{
        display: none;
        display: inherit;
    }
    .collapse{    
		float: left;
		position: absolute;
		top: 45px;
		right: 35px;
	}
	.footer-area  .brand-footer img{
		display: block;
		justify-content: center;
		padding-left: 35%;
		padding-right: 35%;
    	width: 100%;
	}
	.textwidget img{
		padding-left:20%;
		padding-right:20%;
	}
	.address{
		text-align: center;
	}
	.set-dir-ltr{
		display: inline-block;
	}
	
	

}
